@{
    ViewBag.Title = "Exibição de cotações";
}

@section scripts{
    <script src="~/Scripts/Cotacoes/Cotacoes.js"></script>
}

<div class="row">
    <div class="col-md-6">
        <h2>
            Cotações de moedas / ações
        </h2>
        <p>
            <table id="cotacoes">
                <tr>
                    <td>Display</td>
                    <td>Cotação</td>
                </tr>
            </table>
        </p>
    </div>
</div>